body {
    background-color: #a2bee4;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.logo img {
    width: 200px;
    height: 200px;
}

#page-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding: 16px;
}

.icon-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 720px;
    padding: 4px;
}

.icon-top-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 16px;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    padding: 4px;
}

.icon-bottom-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 16px;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    padding: 4px;
    margin-top: 4px;
}

.header-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

.body-text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4px;
}

.icon-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 80px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-bottom: 2px;
}

.icon-button img {
    width: 50px;
    height: 50px;
}

.icon-button p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 0.75em;
    font-weight: bold;
}

.icon-button.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.map-container {
    position: relative;
    width: 1024px; 
    min-width: 1024px; 
    max-width: 1024px;
    min-height: 720px;
}

.default-map {
    width: 100%;
    height: 720px;
}

.heat-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 720px;
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.heat-map.active {
    opacity: 1;
}

.pin {
    position:absolute;
    width: 12px;
    height: 12px;
    background-color: plum; 
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    opacity: 0.6;
    cursor: pointer;
}

.pin::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: gray; 
    border-radius: 50%;
    top: 3px;
    left: 3px;
    opacity: 0.6;
}

.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 670px;
    background-color: white;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    align-content: center;
    opacity: 1;
}

.image-container p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    max-height: 20px;
    position: absolute;
    top: 0;
    font-weight: bold;
}

#sticker-image {
    max-width: 100%;
    max-height: 90%;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#sticker-image.fade-out {
    opacity: 0;
}

#sticker-image.fade-in {
    opacity: 1;
}
