body {
    background-color: #a2bee4;
}

.header-text {
    font-size: 2em;
    font-weight: bold;
    color: #000;
}

.logo {

}

#iconlist {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 16px;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1024px;
    align-self: center;
    margin: 0 auto;
    padding: 4px;
}

.icon-button {
    max-width: 80px;
    max-height: 80px;
}

.map-container {
    position: relative;
    width: 100%; 
    max-width: 1024px; 
    margin: 0 auto;
}

.default-map {
    width: 100%;
    height: auto;
}

.heat-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0; 
    transition: opacity 0.5s ease;
}

.heat-map.active {
    opacity: 1;
}

.pin {
    
}